<ion-view title="Account Statement" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="card">
                <div class="item item-divider">
                    Current Balance - INR 3913.52
                </div>
                <div class="item item-text-wrap">
                    Saving Account - 914010049663592
                </div>

            </div>

            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">04/07/2016</span>
                    <span class="item-note">
                        <b>15,500</b>&nbsp;
                    </span>
                    <input type="text" placeholder="Consolidated Charges for A/c">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">15/07/2016</span>
                    <span class="item-note">
                        <b>14,350.25</b>&nbsp;
                    </span>
                    <input type="text" placeholder="INB/4254522/CITRUS PAYAMENT">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">10/05/2015</span>
                    <span class="item-note">
                        <b>13,500.50</b>&nbsp;
                    </span>
                    <input type="text" placeholder="Service Tax @15 % on Charge">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>